.Login {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

  & header {
    width: 256px;
}

& main {
    flex: 1;
  }

  & main form {
      display: flex;
  flex-direction: column;
  justify-content: center;
}

& .input-login {
  margin: 5px 0;
  padding: 5px;
}

& main form button {
  margin: 30px 0;
  padding: 8px;
  border-radius: 50px;
  background-color: rgb(140, 210, 220);
  color: black;
  &:hover {
      cursor: pointer;
      transform: scale(1.05);
  }
}

& footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

  }
  