.Main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .Main main {
    margin-left: 30px;
  }
  
  @media (max-width: 1000px) {
    .Main {
        flex-direction: column;
    }
    .Main main {
        margin-left: 0;
        margin-top: 30px;
    }
    .Main aside {
        width: 100%;
    }
  }
  
  .Main main {
    flex: 1;
}

.Main main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media (max-width: 640px) {
    .Main main ul {
        grid-template-columns: 1fr;
    }
}

.Main aside {
    width: 320px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
}

.Main aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

.Main aside form {
    margin-top: 30px;
}

.Main aside form .input-block + .input-block {
    margin-top: 20px;
}

.Main aside form .input-group {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.Main aside form .input-group .input-block {
    margin-top: 0;
}

.Main aside form .input-block label {
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.Main aside form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}

.Main aside form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: #7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.Main aside form button[type=submit]:hover {
    background-color: #6931ca;
}

li.place-item {
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.place-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.place-item header .place-info {
    margin-left: 10px;
}

li.place-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.place-item header .place-info strong {
    display: block;
    font-size: 16px;
    color: #333;
}

li.place-item header .place-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

li.place-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.place-item a {
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
}

li.place-item a:hover {
    color: #5a2ea6;
}
